﻿/*.title {*/
/*font-size: 30;*/
/*horizontal-align: center;*/
/*margin:20;*/
/*}*/

/*button {*/
/*font-size: 42;*/
/*horizontal-align: center;*/
/*}*/

/*.message {*/
/*font-size: 20;*/
/*color: #284848;*/
/*horizontal-align: center;*/
/*}*/

.padding-10 {
    padding: 0 10;
    font-weight: 500;
}

Label {
    font-size: 30;
}